body {
    font-family: "Cabin", sans-serif;
}

footer {
    font-family: "Lobster", sans-serif;
    background-color: #373A3C;
}


#Suscribir {
    background-color: #DC3545;
}

#TituloPrincipal {
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    padding-right: 200px;
}

#TituloSecundario {
    font-family: "Cabin", sans-serif;
    font-weight: bold;
    font-size: 20px;

}

#Ricomida {
    font-family: "Lobster", sans-serif;
    font-size: 34px;
}

.navbarText {
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    text-align: end;
}

.pizza {
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    color: #373A3C;
}
